body {
}
/*PC*/
@media screen and (min-width: 960px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #header {
        margin-bottom: 1%;
        background-color: rgba(46,86,160,255);
        text-align: center;
        color: #fff;
    }

    #site-name {
        font-size: 120%;
        font-weight: bold;
    }


    #header-navi {
        display: none;
    }

    .header-link-open {
        display: none;
    }

    .header-guide-open{
        display: none;
    }
    /*各要素を横並び*/
    #main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #main-left-text {
        flex-basis: 25%;
        flex-shrink: 0;
        background-color: #f5f5f5;
        padding-right: 0.5%;
        padding-left: 0.5%;
        margin-right: 1%;
        margin-left: 0.5%;
        font-size: 90%;
    }

        #main-left-text span {
            display: inline-flex;
            width: 2.5vmax;
            height: 2.5vmax;
            justify-content: center;
            align-items: center;
            background-color: #3cb371;
            color: #fff;
            font-weight: bold;
        }

        #main-left-text span:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #main-right-text {
        flex-basis: 18%;
        font-size: 90%;
        display: flex;
        flex-direction: column;
        margin-right: 0.5%;
    }

    #navi {
        background-color: #f5f5f5;
        margin-bottom: 10%;
        padding-left:3%;
    }

        #navi span {
            color: #3cb371;
            font-weight: bold;
        }
        #navi img{
            width: 1vmax;
            height: 1vmax;
        }
        #navi p{
            line-height: 170%;
        }
    #outsid-link {
        background-color: #f5f5f5;
        padding-left: 3%;
    }

        #outsid-link p {
            font-weight: bold;
        }


    #link li {
        margin-top: 4.5%;
    }

    #main-center{
        margin-right: 1%;
    }

    #map-image {
        position: relative;
    }

    /*画像を画面縮小に合わせる*/
    #campus {
        max-width: 100%;
        height: auto;
    }

    /**/
    #point1 {
        position: absolute;
        top: 38.5%;
        left: 73.3%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point2 {
        position: absolute;
        top: 28.2%;
        left: 54.9%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point3 {
        position: absolute;
        top: 36.5%;
        left: 46%;
        width: 4%;
        height: 4%;
        display: none;
    }
    #point4 {
        position: absolute;
        top: 36%;
        left: 89.3%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point5 {
        position: absolute;
        top: 14.2%;
        left: 35.9%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point6 {
        position: absolute;
        top: 51.2%;
        left: 64.1%;
        width: 4%;
        height: 4%;
        display: none;
    }
    #point7 {
        position: absolute;
        top: 53.5%;
        left: 91.8%;
        width: 4%;
        height: 4%;
        transform: rotate(180deg);
        display: none;
    }

    #point8 {
        position: absolute;
        top: 57.8%;
        left: 53.5%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point9 {
        position: absolute;
        top: 45.2%;
        left: 56.8%;
        width: 4%;
        height: 4%;
        display: none;
    }
    #point10 {
        position: absolute;
        top: 64.5%;
        left: 37.3%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point11 {
        position: absolute;
        top: 54.2%;
        left: 19.9%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point12 {
        position: absolute;
        top: 46.2%;
        left: 11%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point13 {
        position: absolute;
        top: 55.2%;
        left: 45%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point-text1{
        text-align: center;
    }

    #point-text2 {
        display: none;
    }

    /*キャンパスマップ画像を親要素としてボタンを配置*/
    #button1 {
        position: absolute;
        left: 72.7%;
        top: 43%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        /*カーソールを合わせたら背景色を変更*/
        #button1:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button2 {
        position: absolute;
        left: 54.4%;
        top: 33%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button2:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button3 {
        position: absolute;
        left: 45.5%;
        top: 41%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button3:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button4 {
        position: absolute;
        left: 89%;
        top: 40.6%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button4:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button5 {
        position: absolute;
        left: 35.3%;
        top: 18.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button5:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button6 {
        position: absolute;
        left: 63.4%;
        top: 55.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button6:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button7 {
        position: absolute;
        left: 91.3%;
        top: 48.1%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button7:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button8 {
        position: absolute;
        left: 53.2%;
        top: 62.3%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button8:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button9 {
        position: absolute;
        left: 56.2%;
        top: 49.8%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button9:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button10 {
        position: absolute;
        left: 36.8%;
        top: 69.3%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button10:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button11 {
        position: absolute;
        left: 19.5%;
        top: 58.7%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button11:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button12 {
        position: absolute;
        left: 10.5%;
        top: 50.6%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button12:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button13 {
        position: absolute;
        left: 44.5%;
        top: 59.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button13:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button14 {
        position: absolute;
        left: 52.5%;
        top: 79.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button14:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button15 {
        position: absolute;
        left: 35.5%;
        top: 87.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button15:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    /*多目的広場*/
    #square {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #square_phot {
        width: 90%;
        height: 90%;
    }

    #square p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    /*バツボタン*/
    #close4 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*欅と鳩カフェ*/
    #keyaki-cafe {
        position: absolute;
        top: 5%;
        bottom: 5%;
        background-color: rgba(0,0,0,0.7);
        padding-top: 0;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #keyaki {
        position: absolute;
        top: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #cafe {
        position: absolute;
        bottom: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #keyaki_phot {
        width: 60%;
        height: 60%;
    }

    #hatocafe_phot {
        width: 60%;
        height: 60%;
    }

    #keyaki-cafe p {
        color: #ffffff;
        margin: auto;
    }

    #close13 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*こもれび*/
    #komorebi {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #komorebi_phot {
        width: 90%;
        height: 90%;
    }

    #komorebi p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close7 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*ラウンジ売店*/
    #lounge {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #lounge_phot {
        width: 90%;
        height: 90%;
    }

    #lounge p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close9 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*体育館とグラウンド*/
    #gym-ground {
        position: absolute;
        top: 5%;
        bottom: 5%;
        background-color: rgba(0,0,0,0.7);
        padding-top: 0;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #gym {
        position: absolute;
        top: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #ground {
        position: absolute;
        bottom: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #gym_phot {
        width: 60%;
        height: 60%;
    }

    #ground_phot {
        width: 60%;
        height: 60%;
    }

    #gym-ground p {
        color: #ffffff;
        margin: auto;
    }

    #close5 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    #busstop {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        padding-bottom: 2%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #busstop_phot {
        width: 90%;
        height: 90%;
    }

    #busstop p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close14 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    #parking {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #parking_phot {
        width: 90%;
        height: 90%;
    }

    #parking p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close15 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }
}
#footer {
    margin-top: 1%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 10%;
    background-color: rgba(46,86,160,255);
    color: #fff;
}


/*タブレット*/
@media screen and (max-width: 960px) and (min-width: 520px) {
    body {
        display: flex;
        flex-direction: column;
    }


    #site-name {
        font-size: 120%;
        font-weight: bold;
        background-color: rgba(46,86,160,255);
        padding-left: 2%;
        padding-right: 2%;
        color: #fff;
    }

        #site-name:hover {
            cursor: pointer;
        }

    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        z-index: 5;
    }

    #header-navi {
        flex-basis: 50%;
        display: flex;
        justify-content: right;
        color: rgba(46,86,160,255);
    }

    #header-guide-button:hover {
        font-weight: bold;
        cursor: pointer;
    }

    #separate {
        margin-left: 5%;
        color: rgba(190,190,190,255);
    }

    #header-link-button {
        margin-left: 5%;
        margin-right: 5%;
        color: rgba(46,86,160,255);
    }

        #header-link-button:hover {
            font-weight: bold;
            cursor: pointer;
        }

    .header-guide-open {
        position: absolute;
        top: 7%;
        right: 10%;
        left: 30%;
        font-size: 100%;
        background-color: #fff;
        border: 1px solid black;
        padding-top: 2%;
        padding-bottom: 3%;
        padding-right: 3%;
        padding-left: 3%;
        z-index: 6;
        display: none;
    }

    .header-guide-open span {
            color: #3cb371;
            font-weight: bold;
     }
    .header-guide-open img{
        display: inline-flex;
        width: 2vmax;
        height: 2vmax;
    }

    .header-link-open {
        position: absolute;
        top: 7%;
        right: 1%;
        left: 60%;
        font-size: 100%;
        list-style: none;
        background-color: #fff;
        border: 1px solid black;
        padding-bottom: 3%;
        z-index: 6;
        display: none;
    }

        .header-link-open li {
            margin-top: 15%;
        }

    .is-show {
        display: block;
    }


    /*各要素を縦並び*/
    #main {
        display: flex;
        flex-direction: column;
    }

    #main-left-text {
        order: 2;
        background-color: #f5f5f5;
        padding-right: 0.5%;
        padding-left: 1%;
        font-size: 90%;
    }

        #main-left-text span {
            display: inline-flex;
            width: 3.5vmax;
            height: 3.5vmax;
            justify-content: center;
            align-items: center;
            background-color: #3cb371;
            color: #fff;
            font-weight: bold;
        }
        #main-left-text span:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #main-right-text {
        display: none;
    }

    #map-image {
        position: relative;
        order: 1;
    }

    /*画像を画面縮小に合わせる*/
    #campus {
        max-width: 100%;
        height: auto;
    }


    #point-text1 {
        display: none;
    }

    #point-text2{
        text-align: center;
    }

    #point1 {
        position: absolute;
        top: 38.5%;
        left: 73.3%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point2 {
        position: absolute;
        top: 28.2%;
        left: 54.9%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point3 {
        position: absolute;
        top: 36.5%;
        left: 46%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point4 {
        position: absolute;
        top: 36%;
        left: 89.3%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point5 {
        position: absolute;
        top: 14.2%;
        left: 35.9%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point6 {
        position: absolute;
        top: 51.2%;
        left: 64.1%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point7 {
        position: absolute;
        top: 53.5%;
        left: 91.8%;
        width: 4%;
        height: 4%;
        transform: rotate(180deg);
        display: none;
    }

    #point8 {
        position: absolute;
        top: 57.8%;
        left: 53.5%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point9 {
        position: absolute;
        top: 45.2%;
        left: 56.8%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point10 {
        position: absolute;
        top: 64.5%;
        left: 37.3%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point11 {
        position: absolute;
        top: 54.2%;
        left: 19.9%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point12 {
        position: absolute;
        top: 46.2%;
        left: 11%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point13 {
        position: absolute;
        top: 55.2%;
        left: 45%;
        width: 4%;
        height: 4%;
        display: none;
    }


    /*キャンパスマップ画像を親要素としてボタンを配置*/
    #button1 {
        position: absolute;
        left: 72.7%;
        top: 43%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        /*カーソールを合わせたら背景色を変更*/
        #button1:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button2 {
        position: absolute;
        left: 54.4%;
        top: 33%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button2:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button3 {
        position: absolute;
        left: 45.5%;
        top: 41%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button3:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button4 {
        position: absolute;
        left: 89%;
        top: 40.6%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button4:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button5 {
        position: absolute;
        left: 35.3%;
        top: 18.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button5:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button6 {
        position: absolute;
        left: 63.4%;
        top: 55.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button6:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button7 {
        position: absolute;
        left: 91.3%;
        top: 48.1%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button7:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button8 {
        position: absolute;
        left: 53.2%;
        top: 62.3%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button8:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button9 {
        position: absolute;
        left: 56.2%;
        top: 49.8%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button9:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button10 {
        position: absolute;
        left: 36.8%;
        top: 69.3%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button10:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button11 {
        position: absolute;
        left: 19.5%;
        top: 58.7%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button11:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button12 {
        position: absolute;
        left: 10.5%;
        top: 50.6%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button12:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button13 {
        position: absolute;
        left: 44.5%;
        top: 59.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button13:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button14 {
        position: absolute;
        left: 52.5%;
        top: 79.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button14:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button15 {
        position: absolute;
        left: 35.5%;
        top: 87.5%;
        width: 5%;
        height: 5%;
        font-weight: bold;
        font-size: 100%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button15:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    /*多目的広場*/
    #square {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        padding-bottom: 2%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #square_phot {
        width: 90%;
        height: 90%;
    }

    #square p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    /*バツボタン*/
    #close4 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*欅と鳩カフェ*/
    #keyaki-cafe {
        position: absolute;
        top: 5%;
        bottom: 5%;
        background-color: rgba(0,0,0,0.7);
        padding-top: 0;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #keyaki {
        position: absolute;
        top: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #cafe {
        position: absolute;
        bottom: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #keyaki_phot {
        width: 60%;
        height: 60%;
    }

    #hatocafe_phot {
        width: 60%;
        height: 60%;
    }

    #keyaki-cafe p {
        color: #ffffff;
        margin: auto;
    }

    #close13 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*こもれび*/
    #komorebi {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        padding-bottom: 2%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #komorebi_phot {
        width: 90%;
        height: 90%;
    }

    #komorebi p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close7 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*ラウンジ売店*/
    #lounge {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        padding-bottom: 2%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #lounge_phot {
        width: 90%;
        height: 90%;
    }

    #lounge p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close9 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*体育館とグラウンド*/
    #gym-ground {
        position: absolute;
        top: 5%;
        bottom: 5%;
        background-color: rgba(0,0,0,0.7);
        padding-top: 0;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #gym {
        position: absolute;
        top: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #ground {
        position: absolute;
        bottom: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #gym_phot {
        width: 60%;
        height: 60%;
    }

    #ground_phot {
        width: 60%;
        height: 60%;
    }

    #gym-ground p {
        color: #ffffff;
        margin: auto;
    }

    #close5 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*バス停*/
    #busstop {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        padding-bottom: 2%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #busstop_phot {
        width: 90%;
        height: 90%;
    }

    #busstop p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close14 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    #parking {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #parking_phot {
        width: 90%;
        height: 90%;
    }

    #parking p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close15 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    #footer {
        margin-top: 1%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 10%;
        background-color: rgba(46,86,160,255);
        color: #fff;
    }
}

/*スマホ*/
@media screen and (max-width: 520px){
    body {
        display: flex;
        flex-direction: column;
    }


    #site-name {
        font-size: 120%;
        font-weight: bold;
        background-color: rgba(46,86,160,255);
        padding-left: 2%;
        padding-right: 2%;
        color: #fff;
    }

        #site-name:hover {
            cursor: pointer;
        }

    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        z-index: 5;
    }

    #header-navi {
        flex-basis: 50%;
        display: flex;
        justify-content: right;
        color: rgba(46,86,160,255);
    }

    #header-guide-button:hover {
        font-weight: bold;
        cursor: pointer;
    }

    #separate {
        margin-left: 5%;
        color: rgba(190,190,190,255);
    }

    #header-link-button {
        margin-left: 5%;
        margin-right: 5%;
        color: rgba(46,86,160,255);
    }

        #header-link-button:hover {
            font-weight: bold;
            cursor: pointer;
        }

    .header-guide-open {
        position: absolute;
        top: 7%;
        right: 10%;
        left: 30%;
        font-size: 100%;
        background-color: #fff;
        border: 1px solid black;
        padding-top: 2%;
        padding-bottom: 3%;
        padding-right: 3%;
        padding-left: 3%;
        z-index: 6;
        display: none;
    }

    .header-guide-open span {
            color: #3cb371;
            font-weight: bold;
    }

    .header-guide-open img{
        width: 2vmax;
        height: 2vmax;
    }

    .header-link-open {
        position: absolute;
        top: 7%;
        right: 1%;
        left: 40%;
        font-size: 100%;
        list-style: none;
        background-color: #fff;
        border: 1px solid black;
        padding-bottom: 3%;
        z-index: 6;
        display: none;
    }

        .header-link-open li {
            margin-top: 15%;
        }

    .is-show {
        display: block;
    }

    /*各要素を縦並び*/
    #main {
        display: flex;
        flex-direction: column;
    }

    #main-left-text {
        order: 2;
        background-color: #f5f5f5;
        padding-right: 0.5%;
        padding-left: 1%;
        font-size: 90%;
    }

        #main-left-text span {
            display: inline-flex;
            width: 3.5vmax;
            height: 3.5vmax;
            justify-content: center;
            align-items: center;
            background-color: #3cb371;
            color: #fff;
            font-weight: bold;
        }
        #main-left-text span:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #main-right-text {
        display: none;
    }

    #map-image {
        position: relative;
        order: 1;
    }

    /*画像を画面縮小に合わせる*/
    #campus {
        max-width: 100%;
        height: auto;
    }

    #point-text1 {
        display: none;
    }

    #point-text2 {
        text-align: center;
    }

    #point1 {
        position: absolute;
        top: 38.5%;
        left: 73.3%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point2 {
        position: absolute;
        top: 28.2%;
        left: 54.9%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point3 {
        position: absolute;
        top: 36.5%;
        left: 46%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point4 {
        position: absolute;
        top: 36%;
        left: 89.3%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point5 {
        position: absolute;
        top: 14.2%;
        left: 35.9%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point6 {
        position: absolute;
        top: 51.2%;
        left: 64.1%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point7 {
        position: absolute;
        top: 53.5%;
        left: 91.8%;
        width: 4%;
        height: 4%;
        transform: rotate(180deg);
        display: none;
    }

    #point8 {
        position: absolute;
        top: 57.8%;
        left: 53.5%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point9 {
        position: absolute;
        top: 45.2%;
        left: 56.8%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point10 {
        position: absolute;
        top: 64.5%;
        left: 37.3%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point11 {
        position: absolute;
        top: 54.2%;
        left: 19.9%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point12 {
        position: absolute;
        top: 46.2%;
        left: 11%;
        width: 4%;
        height: 4%;
        display: none;
    }

    #point13 {
        position: absolute;
        top: 55.2%;
        left: 45%;
        width: 4%;
        height: 4%;
        display: none;
    }

    /*キャンパスマップ画像を親要素としてボタンを配置*/
    #button1 {
        position: absolute;
        left: 72.7%;
        top: 43%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        /*カーソールを合わせたら背景色を変更*/
        #button1:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button2 {
        position: absolute;
        left: 54.4%;
        top: 33%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button2:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button3 {
        position: absolute;
        left: 45.5%;
        top: 41%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button3:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button4 {
        position: absolute;
        left: 89%;
        top: 40.6%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button4:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button5 {
        position: absolute;
        left: 35.3%;
        top: 18.5%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button5:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button6 {
        position: absolute;
        left: 63.4%;
        top: 55.5%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button6:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button7 {
        position: absolute;
        left: 91.3%;
        top: 48.1%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button7:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button8 {
        position: absolute;
        left: 53.2%;
        top: 62.3%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button8:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button9 {
        position: absolute;
        left: 56.2%;
        top: 49.8%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button9:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button10 {
        position: absolute;
        left: 36.8%;
        top: 69.3%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button10:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button11 {
        position: absolute;
        left: 19.5%;
        top: 58.7%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button11:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button12 {
        position: absolute;
        left: 10.5%;
        top: 50.6%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button12:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button13 {
        position: absolute;
        left: 44.5%;
        top: 59.5%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button13:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button14 {
        position: absolute;
        left: 52.5%;
        top: 79.5%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button14:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }

    #button15 {
        position: absolute;
        left: 35.5%;
        top: 87.5%;
        width: 6%;
        height: 6%;
        font-weight: bold;
        font-size: 80%;
        color: #ffffff;
        background-color: #3cb371;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #button15:hover {
            background-color: #2e8b57;
            cursor: pointer;
        }
    /*多目的広場*/
    #square {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        padding-bottom: 2%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #square_phot {
        width: 90%;
        height: 90%;
    }

    #square p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    /*バツボタン*/
    #close4 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*欅と鳩カフェ*/
    #keyaki-cafe {
        position: absolute;
        top: 5%;
        bottom: 5%;
        background-color: rgba(0,0,0,0.7);
        padding-top: 0;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #keyaki {
        position: absolute;
        top: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #cafe {
        position: absolute;
        bottom: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #keyaki_phot {
        width: 60%;
        height: 60%;
    }

    #hatocafe_phot {
        width: 60%;
        height: 60%;
    }

    #keyaki-cafe p {
        color: #ffffff;
        margin: auto;
    }

    #close13 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*こもれび*/
    #komorebi {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        padding-bottom: 2%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #komorebi_phot {
        width: 90%;
        height: 90%;
    }

    #komorebi p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close7 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*ラウンジ売店*/
    #lounge {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        padding-bottom: 2%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #lounge_phot {
        width: 90%;
        height: 90%;
    }

    #lounge p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close9 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*体育館とグラウンド*/
    #gym-ground {
        position: absolute;
        top: 5%;
        bottom: 5%;
        background-color: rgba(0,0,0,0.7);
        padding-top: 0;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #gym {
        position: absolute;
        top: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #ground {
        position: absolute;
        bottom: 5%;
        right: 0;
        left: 5%;
        display: flex;
        align-items: center;
    }

    #gym_phot {
        width: 60%;
        height: 60%;
    }

    #ground_phot {
        width: 60%;
        height: 60%;
    }

    #gym-ground p {
        color: #ffffff;
        margin: auto;
    }

    #close5 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }

    /*バス停*/
    #busstop {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        padding-bottom: 2%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #busstop_phot {
        width: 90%;
        height: 90%;
    }

    #busstop p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close14 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }
    #parking {
        position: absolute;
        top: 15%;
        bottom: 15%;
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4.5%;
        width: 100%;
        display: none; /*初期設定は非表示*/
    }

    #parking_phot {
        width: 90%;
        height: 90%;
    }

    #parking p {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff;
    }

    #close15 {
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 6%;
        background-image: url(close.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
    }
    #footer {
        margin-top: 1%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 10%;
        background-color: rgba(46,86,160,255);
        color: #fff;
    }
}
